{% extends 'header.html' %}
{% load static %}
{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
      </div>
    </div>  
    
    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'images/about.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">PRODUCT OVERVIEW</h2>
            </div>
            <p style="font-size: 20px;">Plasto water storage solutions ensure the highest standards of hygiene at a reasonable cost. The Plasto Ace, an innovation that offers a side manhole feature for easy cleaning along with Plasto Pure, Plasto Titus, submersible pump, Loft Tanks, Sumps, FRP,  PUF, and SMC panel tanks cover the entire range of water storage solutions. Plasto Plastics Division was started in the year 2019, and today we have the most diversified manufacturing capabilities in plastic processing in the Gujarat</p>
            
          </div>
        </div>
      </div>
    </div>


    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
             <p> Excellent tie ups with renowned freight forwarders help us achieve on-time deliveries.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-payment"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Secure Payments</h2>
              <p>purchase on our website with peace of mind.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-support"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">HELP and SUPPORT</h2>
                <p>Reach out to us for help and support anytime</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
    
    