{% extends 'header.html' %}
{% load static %}
{% block content %}

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Sign Up</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="h3 mb-3 text-black">Sign Up</h2>
        {% if msg %}
        <p class="alert-info">{{msg}}</p>
        {% endif %}
      </div>

      <div class="col-md-7">
        <form action="{% url 'signup' %}" name="SignForm" onsubmit="return validation()" method="post">
          {% csrf_token %}
          <div class="p-3 p-lg-5 border">
            <div class="form-group row">
              <div class="col-md-6">
                <label for="c_fname" class="text-black">Fisrt Name 
                  <span id="firstnamespan" class="text-danger" style="display:none">first name required</span>
                </label>
                <input type="text" class="form-control" id="c_fname" name="fname">
              </div>

              <div class="col-md-6">
                <label for="c_fname" class="text-black">Last Name 
                  <span id="lastnamespan" class="text-danger" style="display:none">last name required</span>
                </label>
                <input type="text" class="form-control" id="c_lname" name="lname">
              </div>

            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_email" class="text-black">Email
                   <span id="emailspan" class="text-danger" style="display:none">Email is required*</span>
                  </label>
                <input type="text" class="form-control" id="c_email" name="email" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_email" class="text-black">Moblie No 
                  <span id="mobilespan" class="text-danger" style="display:none">please enter mobileno</span>
                </label>
                <input type="text" class="form-control" id="c_mobile" maxlength="10" minlength="2" name="mno"
                  placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_email" class="text-black">Password
                   <span id="passwordspan" class="text-danger" style="display:none">please enter password</span>
                  </label>
                <input type="password" class="form-control" id="password" minlength="8" name="password" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_email" class="text-black">Confirm Password 
                  <span id="Confirmpasswordspan" class="text-danger"style="display:none">please enter Confirm password</span></label>
                <input type="password" class="form-control" id="c_password" name="cpassword" placeholder="">
              </div>
            </div>


            <div class="form-group row">
              <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign Up">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/signup.png' %}" height="600px">

      </div>
    </div>
  </div>
</div>
<script>
  function validation() {
    event.preventDefault();
    console.log("call....")
    var fname = document.forms.SignForm.c_fname.value;
    var lname = document.forms.SignForm.c_lname.value;
    var email = document.forms.SignForm.c_email.value;
    var mobile = document.forms.SignForm.c_mobile.value;
    var password = document.forms.SignForm.password.value;
    var cinfirm_password = document.forms.SignForm.c_password.value;

    var regc_email = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/g; //Javascript reGex for Email Validation.
    var regc_mobile = /^\d{10}$/; // Javascript reGex for Phone Number validation.
    var regc_fname = /\d+$/g; // Javascript reGex for Name validation
    var regc_lname = /\d+$/g;

    if (fname == "" || regc_fname.test(fname)) {
      document.getElementById("firstnamespan").style.display="block"
      document.getElementById("firstnamespan").innerHTML="Please enter first name."
      // window.alert("Please enter your name properly.");
      // fname.focus();
      return false;
    }
    if (lname == "" || regc_lname.test(lname)) {
      document.getElementById("lastnamespan").style.display="block"
      document.getElementById("lastnamespan").innerHTML="Please enter last name."
      // window.alert("Please enter your name properly.");
      // flname.focus();
      return false;
    }
    if (email == "" || !regc_email.test(email)) {
      document.getElementById("emailspan").style.display="block"
      document.getElementById("emailspan").innerHTML="Please enter a valid e-mail address."

      // window.alert("Please enter a valid e-mail address.");
      // email.focus();
      return false;
    }
    if (mobile == "" || !regc_mobile.test(mobile)) {
      document.getElementById("mobilespan").style.display="block"
      document.getElementById("mobilespan").innerHTML="Please enter mobileno."
      // window.alert("Please enter a valid e-mail address.");
      // mobile.focus();
      return false;
    }
    if (password.length < 8) {
      document.getElementById("passwordspan").style.display="block"
      document.getElementById("passwordspan").innerHTML="Please enter a password."
      // alert("Password should be atleast 6 character long");
      // password.focus();
      return false;

    }
  }
</script>
{% endblock content %}